## KQR 7기_최성웅_오일러 프로젝트 실습 과제

### 1.  1000보다 작은 자연수 중에서 3 또는 5의 배수를 모두 더하면?

In [1]:
multiples_3 = [i*3 for i in range(350) if i*3 < 1000 and i*3 > 0]
multiples_5 = [i*5 for i in range(210) if i*5 < 1000 and i*5 > 0]
final_multiples = list(set(multiples_3 + multiples_5))

In [2]:
sum(final_multiples)

233168

### 2. 피보나치 수열에서 4백만 이하이면서 짝수인 항의 합

In [3]:
from functools import reduce

fib_list = [1,2]

In [4]:
for _ in range(10000):
    fib_val = reduce(lambda x, y: x+y, fib_list[-2:])
    
    if fib_val > 4000000:
        break
        
    fib_list.append(fib_val)

In [5]:
final_fib = [i for i in fib_list if i % 2 == 0]

In [6]:
sum(final_fib)

4613732

### 3. 가장 큰 소인수 구하기

In [7]:
target_num = 600851475143

In [8]:
def factorization(num):
    temp_list = []
    target = num
    denom = 2
    
    while target != 1:
        if target % denom == 0:
            temp_list.append(denom)
            target = target/denom
            
        else:
            denom +=1
            
    return temp_list

In [9]:
factorization(target_num)

[71, 839, 1471, 6857]

### 4. 세자리 수를 곱해 만들 수 있는 가장 큰 대칭수

In [10]:
palindrome_nums = []

for i in range(1000, 900, -1):
    for j in range(1000, 900, -1):
        num = i*j
        if str(num) == str(num)[::-1]:
            palindrome_nums.append(num)

In [11]:
max(palindrome_nums)

906609

### 5. 1 ~ 20 사이의 어떤 수로도 나누어 떨어지는 가장 작은 수

In [12]:
def prime_num(num):
    for i in range(2, num):
        if num % i == 0:
            return False
        
    return True

In [13]:
multip_nums = []
for j in [i for i in list(range(2,21)) if prime_num(i)]:
    num = 1
    while j**num <= 20:
        num += 1
    
    multip_nums.append(j**(num-1))
    
print(reduce(lambda x, y: x*y, multip_nums))

232792560

In [14]:
multip_nums

[16, 9, 5, 7, 11, 13, 17, 19]

### 6. 1부터 100까지 "제곱의 합"과 "합의 제곱"의 차는?

In [15]:
num_list = list(range(1, 101))

In [16]:
(sum(num_list)**2) - sum([i**2 for i in num_list])

25164150

### 7. 10001번째의 소수

In [17]:
def prime_num(num):
    for i in range(2, num):
        if num % i == 0:
            return False
        
    return True

In [18]:
prime_nums = []
num = 2

while len(prime_nums) != 10001:
    if prime_num(num):
        prime_nums.append(num)
    num += 1

In [19]:
print(len(prime_nums), prime_nums[-1])

10001 104743

### 8. 1000자리 수 안에서 이어지는 5개 숫자의 곱 중 최댓값은?

In [20]:
num_thousand = 7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450

In [21]:
start, end = 0, 5
five_nums = []
while end != 999:
    five_nums.append(str(num_thousand)[start:end])
    start += 1
    end += 1

In [22]:
five_nums = sorted(five_nums, key = lambda s: (s[0], s[1]))[-500:]
five_nums = [i for i in five_nums if '0' not in i]
five_nums = [i for i in five_nums if '1' not in i]

In [23]:
biggest = 0
start, end = 0, 5

for i in five_nums:
    temp = reduce(lambda x, y: int(x)*int(y), i)
    
    if temp > biggest:
        biggest = temp
        start += 1
        end += 1

In [24]:
biggest

40824

### 9. a + b + c = 1000 이 되는 피타고라스 수

In [25]:
for i in range(500):
    for j in range(500):
        k = 1000-i-j
        
        if (i**2) + (j**2) == (k**2):
            print(i, j, k, i*j*k)

200 375 425 31875000
375 200 425 31875000

### 10. 이백만 이하 소수의 합

In [26]:
import numpy as np

def prime_num(num):
    TF_arr = [True for i in range(num+1)]
    
    for i in range(2, int(np.sqrt(num))):
        if TF_arr[i]:
            j = 2
            while i*j <= num:
                TF_arr[i*j] = False
                j += 1
                
    return [i for i in range(2, num) if TF_arr[i] == True]

In [27]:
sum(prime_num(2000000))

142913828922